.container-img{
    border-radius: 9px;
    position: relative;
    height: 260px;
    width: 260px;
    display: inline-block;
    overflow: hidden;
}

.View{
    background-color: hsla(178, 100%, 50%, 0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: .3s ease;
}

.container-img:hover .View{
    opacity: 1;
}

.Equilibrium{
    border-radius: 8px;
    position: absolute;
    
}