@import url('./global.css');
@import url('./img.css');

.container-card{
    width: 300px;
    height: 490px;
    padding: 20px;
    background-color: rgb(21, 39, 63);
    border-radius: 12px;
    
    position: relative;

    box-sizing: border-box;

}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: auto;
    padding-bottom: auto;
    background-color: hsl(217, 54%, 11%);
}

.title-card{
    color: white;
    margin-top: 13px;
    font-size: 1.2rem;
}
a:hover{
    color: hsl(178, 100%, 50%) !important;
}

.description-card{
    margin-top: 13px;
}

.info-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 13px;
}


.create-card{
    display: flex;
    align-items: center;
    height: 35px;
    margin-top: 1em;
    padding-top: 1em;
    gap: 20px;
    border-top: 1px solid hsl(215, 32%, 27%);
}
.create-card img{
    height: inherit;
    border: 1px solid white;
    border-radius: 50%;
}
.create-card p a{
    color: white;
}

.money-card{
    color: hsl(178, 100%, 50%);
    display: flex;
    font-size: .9rem;
    font-weight: 600;
    gap: 5px;
}
.day-card{
    display: flex;
    justify-content: end;
    gap: 5px;
}