@import url('../cor/cores.css');


.intro-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    padding: 0px 5em 0em 5em ;
    background-color: var(--cor-12);
    color: var(--cor-1);
}
.container-intro{
    position: relative;
}

