@import url('../cor/cores.css');


.container-intro{
    position: relative;
    background-color: var(--cor-12);
    color: var(--cor-1);
    box-shadow: inset 0 -120px white;
}
.intro-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.intro-info{
    align-self: end;
    padding-bottom: 200px;
}

.intro-info h1{
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
}
.intro-info h1 span{
    color: var(--cor-p1);
}
.intro-info p{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: var(--cor-5);
}

.intro-info a{
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(var(--cor-p1), var(--cor-p2));
    color: var(--cor-p5);
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.33;
}

.img-intro{
    height: 100%;
    object-fit: cover;
    margin-bottom: -120px;
    border-radius: 4px;
}

@media(max-width: 1200px){
    .intro-info h1{
        font-size: 48px;
    }
    .intro-info p {
        font-size: 18px;
    }
}

@media(max-width: 800px){
    .intro-grid{
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .intro-info h1{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .intro-info{
        padding-bottom: 0px;
    }
    .img-intro{
        height: 300px;
        width: 100%;
    }
    .container-intro{
        background-color: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0 -60px white;
    }
}

@media(max-width: 600px){
    .intro-info a{
        font-size: 16px;
        padding: 12px 16px;
    }
}