body {
    margin: 0;
    font-family: Arial;
    background-color: #f7f7f7;
    width: 100wh;
}

.Center-Inline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Text-Right{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.Header{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 3rem;
    font-weight: bold;
}

.Navgation{
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 20px;
    max-width: 100vw;
    max-height: 10em;
    justify-content: center;
    box-sizing: border-box;
}

.Navgation a{
    background-color: white;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
    font-weight: 580;
    border-radius: 8px;
}

.Container{
    background-color: white;
    padding: 10px 20px;
}
.Container a{
    background-color: #ee2211;
    padding: 1em;
    width: 150px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 580;
    border-radius: 4px;
    color: white;
}
.Container a:hover{
    background-color: #900;
}

p {
    font-size: 1.3rem;
}

.Grid{
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
}

.Grid-With-Icon{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    align-items: center;
}

.Grid-With-Icon img{
    height: 20px;
}

.Grid-With-Icon p{
    grid-column: 2;
}

.Container-Subtitulo{  
    display: flex;
    align-items: center;
    text-align: end;
}

.Container-Subtitulo span::before{
    content: "Vantagens Bikcraft";
    font-size: 4rem;
    text-transform: uppercase;
    color: #c6c6c6;
    font-weight: bold;
}

img{
    max-width: 100%;
    display: block;
}

.Footer{
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2em;
}


.Container-img{
    position: relative;
    background-image: url("../img/bicicleta.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Container-img::before{
    content: "";
    width: 50px;
    height: 8px;
    position: absolute;
    background-color: #ee2211;
    top: 1em;
    left: calc(-50px/2);
}

ul{
    list-style: none;
}

.Container-Vantagens div:nth-child(odd){
    background-color: #f7f7f7;
}
.Container-Vantagens{
    background-color: white;
    padding: 10px 20px;
}
.Container-Vantagens div{
    padding: .5em;
}
.Container-Vantagens div:hover{
    border-left: 3px solid red;
}

.Navgation a:hover{
    border: 2px solid red;
}

@media (max-width: 600px){
    .Grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .Container-img::before{
        display: none;
    }
} 
