.grid-header{
    display: grid;
    grid-template-columns: 40% auto;
}

.nav-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 2em;
    min-height: 5em;
}

.nav-header p{
    font-size: 1.8rem;
    font-weight: 900;
}

.nav-header ul{
    display: flex;
    justify-content: end;
}

.ul-opcao{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    font-size: 1.3rem;
}
.grid-header div h1{
    word-break: break-word;
    font-size: 4rem;
    max-width: 470px;
}




.container-img{
    padding: 1em;
}

.container-img img{
    object-position: center;
    object-fit: cover;
    height: 100%;
}


.localizacao h3{
    color: rgb(78, 78, 78);
}
.localizacao{
    display: flex;
    align-items: center;
    gap: 1em;
    height: 2em;
    margin-top: 1em;
}
.localizacao img{
    height: 20px;
}


@media (max-width: 900px) {
    .nav-header{
        grid-template-columns: 1fr;
    }
    .nav-header ul{
        justify-content: center;
        margin-top: 1em;
    }
    .logo-header{
        display: flex;
        justify-content: center;
    }
    .localizacao{
        font-size: 70%;
    }
}